<div class="main-container">
  <img class="logo" src="assets/img/logo-complete-black.png">
  <mat-card>
    <mat-card-content>
      <img (click)="goBack()" class="back-arrow" src="assets/img/go-back.png">
      <div class="imprint-content">


        <h1>Impressum</h1>

        <p>Fullstack Developer<br />
          Daniel Schneider<br />
        </p>
        <br />
        <h2>Postanschrift:</h2>
        <p> Sch&ouml;ne Aussicht 6<br />
          65329 Hohenstein</p>
        <br />
        <h2>Kontakt</h2>
        <p>Telefon: <a href="tel:+4961209269386">0049 6120 9269386</a></p>
        <p>E-Mail: <a href="mailto:hello@dev-ds.de">Mail</a></p>

        <p>Quelle: <a href="https://www.e-recht24.de">e-recht24.de</a></p>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="footer-links">
    <a [routerLink]="['/dashboard']">Home</a>
    <a [routerLink]="['/imprint']">Impressum</a>
    <a [routerLink]="['/privacy']">Datenschutz</a>
  </div>
</div>